.Home {
    background: url('./assets/ultimateposter6.jpg');
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}


.hstyle {
    text-align: center;
    font-family: "SmashUltimate";
    font-size: 100px;
    color: #cd6c3c; 
}

.h2style {
    font-family: "HKGrotesk", Arial, sans-serif;
    color: #fff;
    font-size: 50px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.tournament-headings {
    font-family: "HKGrotesk", Arial, sans-serif;
    color: #000;
    font-size: 40px;
    margin-top: 0.9em;
}

.video-heading {
    font-family: "HKGrotesk", Arial, sans-serif;
    color: #000;
    font-size: 40px;
    margin-top: 0.9em;
}

.a-team-heading {
    font-family: "HKGrotesk", Arial, sans-serif;
    color: #000;
    font-size: 40px;
    margin-top: 0.9em;
}

#second {
    height: 100vh;
    background-color: gainsboro;
}

#third {
    height: 100vh;
    background-color: goldenrod;
}

#fourth {
    height: 100vh;
    background-color: lightblue;
}