body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SmashUltimate';
  src: local('SmashUltimate'), url(./fonts/super_smash_4_1_by_pokemon_diamond-d7zxu6d.ttf) format('truetype');
}

@font-face {
  font-family: 'GothamBlackRegular';
  src: local('GothamBlackRegular'), url(./fonts/GothamBlackRegular.ttf) format('truetype');
}
